* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  background-color: black;
  color: white;
  height: 100%;
  width: 300px;
  padding: 0.4rem;
}

.modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 217, 0, 0.59);
  max-width: 50%;
  height: 70vh;
  overflow-y: scroll;
  margin-inline: auto;
  backdrop-filter: blur(3px);
  margin-top: 5rem;
  padding: 2rem;
  z-index: 999999;
  border-radius: 12px;
  color: #fff;
  animation: wobble 1s ease-out;
}

.close-modal-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #fff;
  color: black;
  padding: 0.7rem 2rem;
  transition: background-color .3s ease;
}

.close-modal-button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #fff;
}

.restaurant-name {
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  width: fit-content;
  border-radius: 2rem;
}

.alert-success {
  padding: 1rem;
  background-color: green;
  color: #fff;
  font-size: 1.2rem;
}

.add-restaurant-field {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  width: 300px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.add-restaurant-button {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  margin-left: 0.5rem;
  cursor: pointer;
}

.add-restaurant-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

@keyframes wobble {
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}
